@charset "UTF-8";
/**
 * フォーム用のスタイルシート。
 *
 * CSS level 2.1
 */

div.debug { padding:5px; border:1px dashed #ccc; background-color:#eee; margin-bottom:5px; }

a.dp-choose-date { display:block; float:left; border:none; margin:0.35em 4px 0 2px; width:16px; height:16px; text-indent:-2000px; overflow:hidden; background:url(../img/ico_calendar.gif) no-repeat; }
a.dp-disabled { background-position:0 -20px; cursor:default; }

div.popup-list { padding-top:4px; background:url(../img/bg_text.gif) #ffffff repeat-x left top; border:1px solid #b5b8c8; }
div.popup-list td { border:none; }
div.popup-list td.popup-item { width:4.5em; text-align:center; padding:3px; background-color:#747373; cursor: pointer; }
div.popup-list td.popup-item-hover { background-color:#1b7196; color:#ffffff; }

div#popup_email_domain td { text-align:left; }
div#popup_email_new_domain td { text-align:left; }

div#search_list { display:none; margin-top:10px; width:494px; height:7.5em; overflow:auto; }
div#search_list { background:url(../img/bg_text.gif) #fff repeat-x; padding:6px 2px 2px 2px; border:1px solid #b5b8c8; }
p.search_item { padding:2px; margin-bottom:2px; background-color:#dadada; cursor: pointer; }
p.search_item_hover { background-color:#1b7196; color:#ffffff; }

html>/**/body label { margin-right:6px; }
html>/**/body input.radio { margin-right:3px; }

input.text { background:url(../img/bg_text.gif) repeat-x left top; height:1.2em; padding:3px; margin:2px 0 2px 0; border:1px solid #b5b8c8; background-color:#fff; }
* html input.text { height:1.9em; }
textarea.text { background:url(../img/bg_text.gif) repeat-x; border:1px solid #b5b8c8; padding:3px; background-color:#fff; }

div#inquiry_form { margin:0 0 10px 10px; }
div#presentquiz_form { margin:0 0 10px 10px; }

table.form_table { border:1px solid #ddd; width:99%; }
* html table.form_table { width:95%; }
table.form_table th { max-width:200px; padding:10px; text-align:left; border-top:none; border-bottom:1px dotted #ddd; border-right:1px dotted #ddd; vertical-align:middle; }
table.form_table td { padding:10px; border-top:none; border-bottom:1px dotted #ddd; text-align:left; vertical-align:middle; line-height:1.3; }
table.form_table p.ex { font-size:0.8em; }
table.form_table p.ex em { color:#ff3300; }

tr#tr_q1 th { width:320px; }

table.layout td { padding:2px 1em 2px 0; }

button { margin:0 5px; border:none; cursor:pointer; }
button#btn_input_check { width:155px; height:25px; }
html>/**/body button#btn_input_check { width:157px; height:28px; }
button#btn_send { width:95px; height:25px; }
html>/**/body button#btn_send { width:97px; height:28px; }
button#btn_search_address { width:75px; height:25px; top:4px; position:relative; }
html>/**/body button#btn_search_address { width:77px; height:28px; top:7px; }
button#btn_search_prefcode { width:65px; height:25px; top:4px; position:relative; }
html>/**/body button#btn_search_prefcode { width:67px; height:28px; top:7px; }
button#btn_history_back { width:80px; height:25px; margin-right:10px;}
html>/**/body button#btn_history_back { width:82px; height:28px; }
